<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cadastro - Página Inicial</title>
  </head>
  <body>
    <h1>Página Inicial</h1>

    <div class="container">
      <h2>
        Está chegando! Dia 29/03 começa a Jornada Desenvolvedor Full Stack!
      </h2>
      <h3>Evento grátis e ao vivo! Cadastre para receber atualizações.</h3>
      <a class="sendButton" href="/register">Quero receber atualizações</a>
    </div>
  </body>
</html>
